<p>
	<strong>Description:</strong>
	<%= note.description %>
</p>

<p>
  <td><%= link_to 'edit note', edit_appointment_note_path(appointment&.id) %></td>
</p>

<p>
  <td><%= link_to 'Delete note',appointment_note_path(appointment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
