<h1 class="well">My Upcoming Appointments</h1>
<% if @appointments.blank? %>
  <p>No appointments found.</p>
<% else %>
  <div class="container-fluid well" id="container_top_index">
    <div class="row">
      <div class="col-sm-2">
        <u>
          <b>Date</b>
        </u>
      </div>
      <div class="col-sm-2">
        <u>
          <b>Name</b>
        </u>
      </div>
      <div class="col-sm-2">
        <u>
          <b>Status</b>
        </u>
      </div>
      <% if current_user.patient? %>
        <div class="col-sm-2">
          <u>
            <b>Actions</b>
          </u>
        </div>
      <% end %>
    </div>
    <br/>
  </div>
<% end %>
<div id="upcoming_appointments">
  <% @appointments.each do |appointment| %>
    
  <% end %>
</div>
<div class="container">
  <hr class="featurette-divider"/>
  <div class="featurette" id="about">
    <h2 class="featurette-heading"></h2>
  </div>
</div>
 

